@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.main{
    width: 100%;
    height: auto;
    font-family: poppins;
   
  
}
.top_bar{
    width: 100%;
    height: 88px;
    
}
.top_inner{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    
}
.top_right{
    display: flex;
    align-items: center;
    gap: 41px;
}
.topleft_button{
    height: 53px;
    width: 185px;
    border: none;
    background-color: #003B49;
    color: white;
}
.topleft_con{
    color: #2F2F2F;
    font-size: 15px;
    font-weight: 500;

}
.big_image {
    background-image: url("../image/dyh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 900px;
  }
  .big_image1 {
    background-image: url("../image/dyh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 510px;
  }
.img_top{
    display: flex;
    width: 70%;
    margin: auto;
    color: white;
    align-items: center;
    /* gap: 90px; */
    justify-content: space-between;

}  
.img_topp{
    width: 100%;
    height: 64px;
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      font-size: 16px;
  
 
 
  
  
 
  
  
}
.imgtop_cont:hover{
    color: #FF8853;
}
.arro:hover{
    color: #FF8853;

}
.arro:hover + .page_bottom {
    display: block;
    animation: slideUp 2s ease;
  }
.imgtop_cont{
    margin-top: 26px;
}
.search{
    width: 40px;
    height: 40px;
    margin-top: -15px;
}
.searchh{
    width: 20px;
    height: 20px;
    display: none;
   position: relative;
   margin-top: -8px;
}
.search_div{
    align-items: center;
    display: flex;
}
.m{
    display: flex;
    gap: 90px;
}
.imgtopp_cont{
    display: flex;
    flex-direction: column;
}
.page_bottom{
    display: none;
    position: absolute;
    width: 242px;
    margin-top: -16px;
    margin-left: -63px;
    padding-bottom: 12px;
    background-color: white;
   
   
    color: #00303E;
    flex-direction: column;
    padding-left: 63px;
  
}
.page_bottom:hover{
    display: block;
}
.arro{
    display: flex;
    align-items: center;
    gap: 9px;
    height: 99px;
    margin-top: -12px;
    justify-content: center;
}
.img2{
    width: 15px;
    height: 15px;
}
.page_bottomm{
    position: absolute;
    height: 100px;
    width: 260px;
    margin-top: 38px;
    margin-left: -276px;
    padding-bottom: 12px;
    background-color: white;
    color: black;
    display: none;
    color: #00303E;
    flex-direction: column;
    padding-left: 63px;
}
.search_div{
    display: flex;
    flex-direction: column;
}
.search_input{
    width: 237px;
    height: 40px;
    display: flex;
    margin-left: -59px;
    border: none;
    position: absolute;
    margin-top: 14px;
    background-color:#F5F5F5 ;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.pages_contt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .service_cont{
    display: flex;
    
    height: 56px;


  }
  .Service_conts{
    width: 285px;
    background-color: white;
    position: absolute;
    margin-left: 248px;
    padding-bottom: 8px;
    padding-right: 14px;
  }
  .cont1{
    margin-left: 40px;
  }
  .flex{
    display: flex;
    align-items: center;
    gap: 132px;
  }
  .img3{
    width: 15px;
    height: 15px;
  }
  .Service_conts{
    display: none;
  }
  .service_cont:hover .Service_conts {
    display: block;
    animation: slideUp 2s ease;
  }
  .cont1:hover{
    color: #FF8853;
  }
  .p{
    display: flex;
    flex-direction: column;
  }
  .pages_cont:hover{
    color: #FF8853;
  }
  .flex:hover{
    color: #FF8853;
  }
  .bigimg_cont{
    width: 600px;
    color: white;
  }
  .bigcont_wid{
   
    width: 70%;
    height: 100%;
    margin: auto;
    /* justify-content: center; */
    display: flex;
    align-items: center;
  }
  .h1headding{
    font-size: 54px;
    margin-top: -30px;
  }
  .para{
    margin-top: -28px;
    font-size: 17px;
    font-weight: 600;

  }
  .explorebutton{
    width: 171px;
    height: 53px;
    border: none;
    color: white;
    font-weight: 700;
    background-color: #FF8853;
  }
  .explorebutton:hover{
    background-color: white;
    color: black;

  }
  .lover_cont{
    color: #FF8853;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
  }
  .lover_cont:hover{
    text-decoration: none;
  }

  .lower_button{
    display: flex;
    align-items: center;
    gap: 32px;
  }
 
  .bottom_box{
    width: 100%;
    padding-bottom: 100px;
   
    
    
    margin-top: -139px;
  }
  .bottom_inner{
    width: 70%;
    display: flex;
    margin: auto
  }
  .box_left{
    width: 50%;
    height: 265px;
    animation: slideUp 2s ease;
    background-color: white;
    box-shadow: 5px 4px 7px -5px rgba(0,0,0,.8);

  }
  .left_inner{
    width: 80%;
    margin: auto;
    padding: 35px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: baseline;
  }
  .sear{
    width: 30px;
    height: 30px;
  }
  .first_head{
    font-size: 29px;
    font-weight: 500;

  }
  .second_head{
    margin-top: -18px;
    color: gray;
    font-size: 17px;
  }
  .third_button{
    width: 122px;
    height: 34px;
    background-color: white;
    border: white;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transition: border-color 0.3s ease;
   
    color: #FF8853;
    
    font-size: 15px;
    font-weight: 700;
  }
  .box_right{
    background-color: #00303E;
    width: 50%;
    animation: slideUp 3s ease;
    box-shadow: 5px 4px 7px -5px rgba(0,0,0,.8);
  }
  .box_left:hover .first_head {
    color: #FF8853;
  }
  .box_left:hover .third_button {
    border-left-color:  #FF8853; /* Set your desired left border color */
    border-right-color: #FF8853; /* Set your desired right border color */
  }
  .first_head1{
    font-size: 29px;
    font-weight: 500;
    color: white;
  }
  .second_head1{
    margin-top: -18px;
    color: white;
    font-size: 17px;
  }
  .third_button1{
    width: 122px;
    height: 34px;
    background-color: #00303E;
    border: #00303E;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transition: border-color 0.3s ease;
   
    color: #FF8853;
    
    font-size: 15px;
    font-weight: 700;
  }
  .box_right:hover .first_head1 {
   color: #FF8853;
  }
  .box_right:hover .third_button1 {
    border-left-color:  #FF8853; /* Set your desired left border color */
    border-right-color: #FF8853; /* Set your desired right border color */
  }
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .bigimg_cont {
    animation: slideUp 2s ease;
  }
  .About_cont{
    width: 100%;
    padding-bottom: 100px;
  }
  .about_inner{
    width: 70%;
    margin: auto;
    display: flex;
  }
  .about_left{
    width: 50%;
    height: 400px;
  }
  .about_head{
    font-size: 52px;
    font-weight: 600;
  }
  .sp{
    color: #FF8853;
  }
  .about_left_inner{
    width: 80%;
    margin: auto;
  }
  .about_ont{
    font-size: 16px;
    line-height: 35px;
  }
  .nm{
    line-height: 35px;
    font-size: 17px;
  }
  .about_right{
    width: 50%;
    display: flex;
    margin-left: 127px;
  }
  .about_img{
       margin-top: 5px;
    position: relative;
    width: 46%;
    margin-top: 222px;
    height: 351px;
    

  }
  .about_img.animated {
    animation: slideDown 2s ease;
  }
  .about_im{
    margin-top: 5px;
    width: 26%;
    height: 497px;
    margin-left: 111px;
    position: absolute;


  }
  .about_button{
    width: 150px;
    height: 48px;
    color: #034B5B;
    border: none;
    font-weight: 700;
  }
  .about_button:hover{
   
    background-color: #FF8853;
    color: white;
  }
  .logo_part{width: 100%;
    margin-top: 31px;}
  
  .logo_inner{
    width: 70%;
    margin: auto;
    overflow: hidden;
  }
 .logo_flx{
  display: flex;
  gap: 218px;
  align-items: center;

 }
 .logo{
  width: 1500px;
  height: 60px;
 }
 

.logo_flx {
  animation: scrollLeft 50s linear infinite;
  white-space: nowrap;
}

.logo {
  margin-right: 10px; /* Adjust this value as needed */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust this value based on the width of your images */
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.oru_services{
  width: 100%;
  width: 100%;
    background-color: #F5F5F5;
    padding-bottom: 100px;

}
.services_inner{
  width: 70%;
  margin: auto;
}
.service_headingn{
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
  align-items: center;
  margin-top: 111px;
}
.service_head{
  font-size: 45px;
}
.ser{
  color: #FF8853;
}
.servide_button{
  width: 170px;
  height: 55px;
  border: none;
  background-color: #034B5B;
  color: white;
  font-weight: 700;
}
.servide_button:hover{
  background-color: #FF8853;
}
.Service_box{
  
  display: flex;
    justify-content: space-between;
  
}
.service1 {
  background-color: white;
  width: 27%;
  height: 415px;
  margin-top: 29px;
  border-bottom: 2px solid #FF8853;
  box-shadow: 5px 4px 7px -5px rgba(0, 0, 0, .8);
  opacity: 0; /* Start with opacity 0 to hide the element initially */
}

.service1.animated {
  opacity: 1;
  animation: slideUp 2s ease;
}

.service2{
  background-color: white;
  width: 27%;
    height: 415px;
  box-shadow: 5px 4px 7px -5px rgba(0,0,0,.8);
  border-bottom: 2px solid #FF8853;
  margin-top: 29px;
  opacity: 0;
  
}
.service2.animated {
  opacity: 1;
  animation: slideUp 2s ease;
}
.servise3{
  background-color: white;
  border-bottom: 2px solid #FF8853;
 
  box-shadow: 5px 4px 7px -5px rgba(0,0,0,.8);
  margin-top: 29px;
  width: 27%;
  opacity: 0;
  height: 415px;
}
.servise3.animated {
  opacity: 1;
  animation: slideUp 2s ease;
}
.service1_inner{
  width: 80%;
  margin: auto;
}
.ship_img{
  width: 40px;
  height: 40px;
  margin-top: 40px;

}

  
.salvage{
  font-size: 24px;
    font-weight: 500;
}
.ship_cont{
  line-height: 33px;
  margin-top: -10px;
  font-size: 14px;
}
.ul {
  list-style-type: none;
  padding: 0;
}

.ul li {
  position: relative;
  padding-left: 20px; /* Adjust this value to add more space between the bullet point and the text */
  margin-bottom: 20px; /* Adjust this value to add more space between each list item */
}

.ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px; /* Adjust this value to change the size of the bullet */
  height: 10px; /* Adjust this value to change the size of the bullet */
  background-color:#FF8853; /* Change this value to the desired color of the bullet */
  border-radius: 50%;
}
.service1:hover{
  background-color: #00303E;
  color: white;
  border-bottom-color:#00303E ;
}
.service2:hover{
  background-color: #00303E;
  color: white;
  border-bottom-color:#00303E ;
}
.servise3:hover{
  background-color: #00303E;
  color: white;
  border-bottom-color:#00303E ;
}

.full_image{
  display: flex;
  width: 100%;
  gap: 5px;
  
  height: 800px;
  margin-top: 0px;
  padding-bottom: 50px;
}


.first_img3{
  width: 25%;
  border-right: 2px solid white;
  background-image: url("../image/third.jpg");
  background-size: cover;
  display: flex;
  position: absolute;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;

}
.first_img4{
  width: 25%;
  border-right: 2px solid white;
  background-image: url("../image/forth.jpg");
  background-size: cover;
  display: flex;
  position: absolute;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;

}
.first_img{
  width: 25%;
  border-right: 2px solid white;
  background-image: url(../image/first.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
  position: absolute;
  display: flex;
  background-repeat: no-repeat;
  

}
/************************************/


.first_img2{
  width: 25%;
  border-right: 2px solid white;
  background-image: url("../image/second.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  height: 800px;
  background-repeat: no-repeat;
  

}


.head{
  color: white;
  width: 80%;
  position: relative;
    margin: auto;
    
}
.head1{
  color: white;
  width: 80%;
  position: relative;
    margin: auto;
}
.head2{
  color: white;
  width: 80%;
  position: relative;
    margin: auto;
}
.head3{
  color: white;
  width: 80%;
  position: relative;
    margin: auto;
}
/**
***********************************************/


  

.im1{
  width: 100%;
  transition: filter 0.3s ease;
}


.im3{
  width: 100%;
}

.im4{
  width: 100%;
}
.first_image_one{
  width: 25%;
}
.first_image_one1{
  width: 25%;
}
.first_image_one2{
  width: 25%;
}
.first_image_one3{
  width: 25%;
}

.first_image_one:hover .first_img {
  filter: blur(5px); /* Adjust the blur amount as desired */

}
.first_image_one:hover .first_writpe {
 display: block; /* Adjust the blur amount as desired */

}
.first_image_one1:hover .first_img2 {
  filter: blur(5px); /* Adjust the blur amount as desired */

}
.first_image_one1:hover .first_write {
 display: block; /* Adjust the blur amount as desired */

}

.first_image_one2:hover .first_img3 {
  filter: blur(5px); /* Adjust the blur amount as desired */

}
.first_image_one2:hover .first_write11 {
 display: block; /* Adjust the blur amount as desired */

}

.first_image_one3:hover .first_img4 {
  filter: blur(5px); /* Adjust the blur amount as desired */

}
.first_image_one3:hover .first_write22 {
 display: block; /* Adjust the blur amount as desired */

}

.forth{
  width: 100%;
  padding-bottom: 80px;
  background-color: #00303E;
}
.forth_inner{
  width: 70%;
  margin: auto;
  display: flex;
}
.left_forth{
  width: 50%;
  
}
.right_firth{
  width: 50%;
}
.leftbox_inner{
  display: flex;
  gap: 169px;
  padding: 27px;
  width: 80%;
  margin: auto;
  margin-top: 43px;
  margin-left: 78px;

 
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.left_box{
  background-color: #FF8853;
  color: white;
  width: 787px;
  opacity: 1;
  position: relative;
  height: 342px;
  margin-left: 76px;
}
.left_box.animated {
  opacity: 1;
  
  
}
.boxfirst{
  display: flex;
  flex-direction: column;
}
.boxsecond{
  display: flex;
  flex-direction: column;
}
.for_3{
  color: #FF8853;
}
.for_1{
  font-size: 40px;
  color: white;
    font-weight: 600;
}
.for_2{
  line-height: 40px;
      margin-top: -19px;
  color: white;
  width: 83%;
}

.forth_head{
  margin-top: 80px;
}
.forth_img{
    width: 96%;
    opacity: 1;
    
    height: 75%;
    margin-top: 89px;
}
.forth_img.animated {
  opacity: 1;
  animation: slideUp 2s ease;
}
.inner_map{
  width: 70%;
  margin: auto;
  background-image: url(../image/map.png);
  height: 531px;
  padding-bottom: 50px;
  margin-top: 60px;

}
.map_head{
  text-align: center;
  width: 60%;
  margin: auto;
  padding-top: 40px;
}
.map_h1{
  font-weight: 600;
  font-size: 40px;
}
.o{
  color: #FF8853;
}
.map_cont{
  line-height: 30px;
  margin-top: -27px;
}
.map_flx{
  display: flex;
  margin-top: 50px;
  opacity: 0;

}

.map_flx.animated {
  opacity: 1;
  animation: slideUp 2s ease;
}
.ship{
  width: 40px;
  height: 40px;
}
.map1{
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.num{
 
    color: #00303E;
    font-size: 38px;
    font-weight: 500;
    margin-top: 10px;

}
.num3{
 
  color: #00303E;
  font-size: 38px;
  font-weight: 500;
  margin-top: 10px;

}
.num4{
 
  color: #00303E;
  font-size: 38px;
  font-weight: 500;
  margin-top: 10px;

}
.num1{
 
  color: #00303E;
  font-size: 38px;
  font-weight: 500;
  margin-top: 10px;

}
.flex_one{
  font-size: 20px;
  color: #00303E;
    font-weight: 500;
    margin-top: -27px;
}
.flex_two{
  width: 70%;
    text-align: center;
    color: gray;
    margin-top: -8px;
}
.pepole{
  width: 100%;
  padding-bottom: 30px;
  background-color: #F5F5F5;
  margin-top: 60px;

}
.people_inner{
  width: 70%;
  margin: auto;
}
.people_flex{
  display: flex;
  display: flex;
    align-items: center;
    gap: 83px;
    margin: 50px;

}
.people_one{
  width: 25%;
}
.people_h1{
  font-size: 31px;
    font-weight: 500;
}
.people_cont{
  font-size: 15px;
    line-height: 32px;
    margin-top: -15px;

}
.people_button{
  width: 188px;
    height: 55px;
    border: none;
    background-color: #034B5B;
    color: white;
    font-weight: 700;
}

.people_second{
  width: 75%;
  display: flex;
  gap: 92px;
}


  
.comment_people{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.comment_bottom{display: flex;
  align-items: center;
  gap: 25px;
 
}
.client{
  margin-top: -15px;
    color: #FF8853;
}
.second_onee{
  width: 381px;
  margin-top: 58px;
  border-bottom: 2px solid #FF8853;
  height: 387px;
  background-color: white;
}
.comment_head{
  width: 75%;
  margin: auto;
}
 .greating{
  font-size: 30px;
  font-weight: 500;
  color: #034B5B;
 }
 .write{
  font-size: 16px;
    margin-top: -5px;
 }
 .back_img{
  background-image: url("../image/dfg.jpg");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
 }
 .img_cont{
  width: 44%;
    margin: auto;

 }
 .c{
  font-size: 55px;
    color: white;
    margin-top: -12px;
 }
 .connect_button{
  background-color: #FF8853;
  color: white;
  border: none;
  width: 179px;
  height: 50px;
  font-weight: 700;
 }
 .connect_button:hover{
  background-color: white;
  color: black;
 }
 .last_div{
  width: 100%;
  padding-bottom: 60px;
 }
 .last_inner{
  width: 70%;
  margin: auto;
 }
 .inner_head{
  display: flex;
  margin-top: 90px;
  gap: 35px;
  align-items:center;

 }
 .inner_head1{
  display: flex;
  margin-top: 15px;
  gap: 35px;
  align-items:center;

 }
 .bb{
  font-size: 34px;
  font-weight: 700;
  width: 40%;
 }
 .mmm{
  color: gray;
  line-height: 36px;
  font-size: 19px;
 }

 .last_one{
  width: 30%;
  height: 500px;
  margin-top: 64px;
 }
 .last_one1{
  width: 30%;
  height: 500px;
  margin-top: 97px;
 }
 .last_bottombox{
  background-color: #F9F9F9;
  width: 100%;
  height: 224px;
  margin-top: -7px;

 }
 .last_img{
  width: 100%;
  height: 321px;

 }
 .lastinner_flx{
  display: flex;
  
  margin-top: 23px;
  
    justify-content: space-between;
    align-items: center;
 }
 .lastinner_flxl{
  display: flex;
  
  margin-top: 23px;
  flex-wrap: wrap;
  
    justify-content: space-between;
    align-items: center;
 }
 .last_bottombox_inner{
  width: 80%;
  margin: auto;
 }
 .date_flx{
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #003B49;
  gap: 12px
 }
 .hd{
  font-size: 23px;
    font-weight: 600;
    margin-top: -5px;

 }
 .xx{
  font-size: 16px;
    line-height: 26px;
    margin-top: -10px;
    color: gray;
 }
 .last_one:hover .last_bottombox{
  background-color: white;
  box-shadow: 5px 4px 7px -5px rgba(0,0,0,.8);
  border-bottom: 2px solid #FF8853;
  


 }
 .last_one1:hover .last_bottombox{
  background-color: white;
  box-shadow: 5px 4px 7px -5px rgba(0,0,0,.8);
  border-bottom: 2px solid #FF8853;
  


 }
 .last_one {
  position: relative;
}

.last_bottombox {


  border-bottom: 2px solid transparent;
  transition: border-bottom 1s ease;
}

.last_one:hover .last_bottombox {
  border-bottom: 2px solid #FF8853;
  transform: scaleX(1);
  transform-origin: left;
}
.footer_inner{
 width: 70%;
    margin: auto;
    display: flex;
    padding-top: 45px;
    justify-content: space-between;
   
}
.first_footer{
  width: 20%;
}
.footer{
  width: 100%;
  background-color: #F9F9F9 ;
  margin-top: 80px;
  padding-bottom: 100px;
  color: grey;
}
.footer_hs{
  font-size: 22px;
  font-weight: 500;
  color: #034B5B;
}
.hdd{

  font-weight: 500;
  font-size: 15px;
  color: black;

}
.t{
  font-size: 15px;
}
.t:hover{
  color: #FF8853;
  text-decoration: underline;
}


.a{
  font-size: 34px;
  margin-top: 420px;
}
.aa{
  font-size: 34px;
  margin-top: -26px;
}
.first_writpe{
  display: none;
  margin-top: -16px;
  font-weight: 600;

}
.first_img:hover .first_writpe{
  display: block;
}
.parallelogram {
  width: 160px;
  height: 80px;
  transform: skew(20deg);
  background: orange;
}
.first_write{
  display: none;
  margin-top: -16px;
  font-weight: 600;

}
.first_write11{
  display: none;
  margin-top: -16px;
  font-weight: 600;

}
.first_write22{
  display: none;
  margin-top: -16px;
  font-weight: 600;

}
.first_img2:hover .first_write{
  display: block;
}
.first_img3:hover .first_write11{
  display: block;
}
.first_img4:hover .first_write22{
  display: block;
}
.location{
  width: 100%;
  padding-bottom: 60px;
}
.location_inner{
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
 
}
.locaton_1{
  width: 30%;
}
.locaton_1{
  display: flex;
  gap: 20px;
  align-items: baseline;
}
.l_img{
  width: 40px;
  height: 40px;
}
.h11{
  font-size: 24px;
  font-weight: 500;
}
.h22{
  font-size: 19px;
  font-weight: 400;
  color: #034B5B;
}
.h33{
  width: 80%;
    font-size: 16px;
    color: gray;
    line-height: 27px;
}
.form{
  width: 100%;
}
.form_inner{
  width: 70%;
  margin: auto;
  display: flex;
  gap: 59px;
}
.form_map{
  width: 50%;
  
  height: 500px;
}
.form_cont{
  width: 40%;
  box-shadow: 0 0 15px -2px #444444;
  margin-top: 50px;
  height: 500px;
  background-color:white;

}
.form_cont_inner{
  width: 80%;

  margin: auto;
}
.form_head{
  font-size: 40px;
    font-weight: 600;
    margin-top: 51px;
}
.form_wr{
  font-size: 16px;
    margin-top: -29px;
    color: #034B5B;
}
.tx1{
  width: 100%;
  padding: 8px;
    height: 44px;
    margin-top: 12px;
    background-color: #f9f9f9e8;
    border: none;

}
.tx1:focus {
  border-color: blue; /* Change the border color when focused */
}
.tx2{
  width: 100%;
    height: 44px;   
    padding: 8px;
     margin-top: 12px;

    background-color: #F9F9F9;
    border: none;

}
.tx3{
  width: 100%;
    height: 94px;
    padding: 8px;
    margin-top: 12px;
    background-color: #F9F9F9;
    border: none;

}
.port_cont{
  width: 100%;
 text-align: center;  
}
.port_p{
  width: 42%;
    margin: auto;
    line-height: 32px;
    color: gray;
    margin-top: -12px;
    font-size: 18px;

}
.port_imgtop_inner{
  width: 70%;
  margin: auto;
  display: flex;
  color: #034B5B;
  align-items: center;
  gap: 66px;
  justify-content: center;
}
.port_imgtop{
  margin-top: 40px;
}
.line{
  width: 70%;
  margin: auto;
  
  height: 1px;
  background-color: gray;
}
.port_img{
  display: flex;
  flex-wrap: wrap;
 
  width: 70%;
  justify-content: space-around;
  margin: auto;
}

.port_img2{
  display: flex;
  flex-wrap: wrap;
 
  width: 70%;
  justify-content: space-around;
  margin: auto;
}
.port_img3{
  display: flex;
  flex-wrap: wrap;
 
  width: 70%;
  justify-content: space-around;
  margin: auto;
}
.port_img4{
  display: flex;
  flex-wrap: wrap;
 
  width: 70%;
  justify-content: space-around;
  margin: auto;
}
.port_img5{
  display: flex;
  flex-wrap: wrap;
 
  width: 70%;
  justify-content: space-around;
  margin: auto;
}
.port_img6{
  display: flex;
 
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-around;
  margin: auto;
}
.selected {
  color: red;
}
.img_port{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
    animation: myAnim 2s ease 0s 1 normal forwards;
  
    height: 364px;
}
.img_port1{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
    animation: myAnim 2s ease 0s 1 normal forwards;
  
    height: 364px;
}
.img_port2{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    animation: myAnim 2s ease 0s 1 normal forwards;
    height: 364px;
}
.img_port3{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
    animation: myAnim 2s ease 0s 1 normal forwards;
  
    height: 364px;
}
.img_port4{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
    animation: myAnim 2s ease 0s 1 normal forwards;
  
    height: 364px;
}
.img_port5{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
    animation: myAnim 2s ease 0s 1 normal forwards;
  
    height: 364px;
}
.img_port5{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.img_port6{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.img_port7{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.img_port8{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.img_port9{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.img_port10{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.img_port11{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.img_port12{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.img_port13{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.img_port14{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.img_port15{
  width: 30%;
    margin-top: 47px;
    background-image: url(../image/dfg.jpg);
  
    height: 364px;
}
.mainservice_inner{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainservice_head{
  width: 43%;
    font-size: 33px;
}
.service_box_1{
  width: 25%;
    height: 300px;
    background-color: aquamarine;
    padding: 33px;
 

}
.service_box_inner{
  width: 70%;
  margin: auto;
  display: flex;
}
.Warehousing{
  font-size: 27px;
  font-weight: 500;
  margin-top: 7px;
}
.line1{
  width: 100%;
  height: 1px;
  background-color: #FF8853;
}
.ship_img12{
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
